@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ocнови ASP</h1>
   
</div>
<p>
    <strong>ASP</strong> (Active Server Pages) - технологія від Microsoft для 
    створення веб-застосунків. Варіант MVC один з найбільших сучасних і дозволяє реалізувати
    інші варіанти проєктів своїми засобами
</p>
<h2>Зміст</h2>
<h3><a asp-controller="Home" asp-action="Razor">Razor</a></h3>
<h3><a asp-controller="Home" asp-action="Models">Моделі ASP</a></h3>
<h3><a asp-controller="Home" asp-action="IoS">Інверсія управління. Сервіси</a></h3>
<h3><a asp-controller="Home" asp-action="Data">Робота з даними. БД.</a></h3>
